.app {
}
.tsinfolink {
    position:absolute;
    right:0px;
    width:5%;
}

/* .x-grid-row, .x-grid-cell, .x-grid-cell-inner */
.x-grid-row-outofscope .x-grid-cell-inner{
	color: #999;
}

.x-grid-row-accepted .x-grid-cell-inner{
	color: green;
}

.x-grid-row-notdone .x-grid-cell-inner{
	color: black;
}

.x-grid-row-atrisk .x-grid-cell-inner{
	color: red;
}

div.summary-wrapper{
	width:80%;
}
.summary-left, .summary-right{
	width:30%;
}
.summary-left{
	float:left;
}
.summary-right{
	float:right;
}